/*
 *  Green: #50FA7B
 *  Pink: #FF79C6
*/

* {
    border-radius: 5px;
    font-family: "0xProto", "FontAwesome";
    font-size: 15px;
    min-height: 0;
    color: @theme_text_color;
}

window#waybar {
    background: transparent;
}

#workspaces {
    padding: 5px 10px;
    background: @theme_bg_color;
}

#workspaces * {
    font-size: 12px;
    color: @theme_text_color;
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button.focused > * {
    background: #7daea3;
    padding: 0 5px;
    color: @theme_bg_color;
}

#clock.date {
    background: @theme_bg_color;
    padding: 0 10px;
}

#clock.time {
    background: @theme_bg_color;
    padding: 0 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #ebdbb2;
}

#keyboard-state label.capslock {
    font-size: 0;
    background: @theme_bg_color;
}

#keyboard-state label.capslock.locked {
    font-size: 15px;
    padding: 0 15px;
    background: @warning_color; 
}


#pulseaudio {
    padding: 0 10px;
    background: @theme_bg_color;
}

#pulseaudio.muted {
    background: @warning_color;
    color: #000;
}

#pulseaudio.2.source-muted {
    background: @error_color;
    color: #000;
}

#network {
    background: @theme_bg_color;
    padding: 0 10px;
}

#network.disconnected {
    background: @error_color;
    color: #000;
    border-style: solid;
    border-width: 2px;
    border-color: #ebdbb2;
}
